<table>
    <tr *ngIf="loginError">
        <td colspan="3">
            <div class="alert alert-danger warningAlert ">
                <h2>{{loginError}}</h2>
            </div>
        </td>
    </tr>
    <tr>
        <td *ngIf="usernameError" class="alert-danger">{{usernameError}}</td>
        <td>Username</td>
        <td><input type="text" [(ngModel)]="username"></td>
    </tr>
    <tr>
        <td *ngIf="passwordError" class="alert-danger">{{passwordError}}</td>
        <td>Password</td>
        <td><input type="password" [(ngModel)]="password"></td>
    </tr>
    <tr>
        <td colspan="3">
            <input type="button" value="Reset" (click)="onReset()" class="btn btn-warning mr-1"/>
            <input type="button" value="Login" (click)="onLogin()" class="btn btn-primary"/>
        </td>
    </tr>
</table>